$black: #000;
$white: #fff;

h1 {
  font-size: 48px;
  @media (max-width: 720px) {
    font-size: 36px;
  }
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
  @media (max-width: 1270px) {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  @media (max-width: 720px) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

section:nth-child(3) {
  background-color: $black;
}

section:nth-child(5) {
  background-color: $black;
}

.normal {
  font-weight: 400;
}

.hero {
  position: relative;
  display: flex;
  padding: 0 32px;
  @media (max-width: 1270px) {
    flex-direction: column-reverse;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 32px;
}

.header {
  font-size: 48px;
  text-align: center;
  margin-bottom: 32px;
  @media (max-width: 720px) {
    font-size: 36px;
  }
  @media (max-width: 1270px) {
    margin-bottom: 28px;
  }
}

.icon {
  font-size: 64px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 48px;
  height: 100%;
  @media (max-width: 720px) {
    gap: 16px;
  }
}

.hero-links {
  display: flex;
  gap: 48px;
  .hero-icon {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid $black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;

    @media (max-width: 720px) {
      width: 48px;
      height: 48px;
    }
  }
}

.hero-description {
  max-width: 701px;
  font-size: 24px;
  font-weight: 400;
  color: $black;
}

.hero-image {
  margin-left: auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.skill-card {
  display: flex;
  height: 180px;
  width: 186px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid $black;
  i {
    font-size: 48px;
  }
  p {
    font-size: 18px;
    font-weight: 800;
  }
  @media (max-width: 470px) {
    width: 150px;
    height: 150px;
  }
}

.white {
  color: $white;
  padding: 100px 0;
  @media (max-width: 1270px) {
    padding: 48px 40px;
  }
}

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experience-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;
  border-radius: 8px;
  border: 1px solid $white;
  .header-wrapper {
    display: flex;
    gap: 24px;
    align-items: center;
  }
  .card-header {
    font-size: 30px;
    @media (max-width: 970px) {
      font-size: 24px;
    }
  }
  .card-description {
    font-size: 18px;
    @media (max-width: 720px) {
      font-size: 15px;
    }
  }

  .experience-icon {
    display: inline;
    width: 32px;
    height: 32px;
  }
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 123px;
  @media (max-width: 1270px) {
    flex-direction: column;
    gap: 24px;
    .avatar-wrapper {
      display: flex;
      justify-content: center;
    }
  }

  @media (max-width: 470px) {
    .avatar-wrapper {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.about-content {
  .header {
    text-align: left;
  }
  .about-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    line-height: 26px;
    color: $black;
    @media (max-width: 720px) {
      font-size: 15px;
    }
  }
}

.projects-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.project {
  display: flex;
  gap: 124px;
  .project-image {
    height: 338px;
    border-radius: 20px;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  @media (max-width: 1270px) {
    flex-direction: column;
    gap: 24px;
    .project-image {
      order: 0;
    }
    .project-info {
      order: 2;
    }
  }
  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    max-width: 495px;
    @media (max-width: 1720px) {
      gap: 16px;
    }
    .number {
      font-size: 48px;
      @media (max-width: 720px) {
        font-size: 36px;
      }
    }
    .project-title {
      font-size: 30px;
      @media (max-width: 720px) {
        font-size: 24px;
      }
    }
    .project-description {
      color: #ffffff99;
      @media (max-width: 720px) {
        font-size: 15px;
      }
    }
  }
  .more-btn {
    display: block;
    padding: 16px 20px;
    border-radius: 8px;
    margin-right: auto;
  }
}

.project:nth-child(even) {
  .project-image {
    order: 1;
  }
}

.contacts {
  flex-shrink: 1;
  flex-grow: 2;
  max-width: 598px;

  @media (max-width: 1270px) {
    min-width: 100%;
  }

  h2 {
    font-size: 48px;
    line-height: 48px;
  }
  .description {
    margin: 32px 0;
    color: $black;
    line-height: 24px;
  }
}

.call-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 123px;

  @media (max-width: 1270px) {
    flex-direction: column-reverse;
    gap: 24px;
  }
}

.email,
.phone {
  font-size: 18px;
  font-weight: 600;

  .icon {
    font-size: 20px;
    margin-right: 4px;
  }
}

.email {
  margin-bottom: 12px;
}

.form {
  flex-shrink: 1;
  flex-grow: 2;
  max-width: 495px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 1270px) {
    min-width: 100%;
  }

  input {
    border-radius: 8px;
    border: 1px solid $black;
    padding: 16px 12px;
  }
  textarea {
    border-radius: 8px;
    border: 1px solid $black;
    padding: 16px 12px;
    height: 200px;
  }

  .btns {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;

    button {
      padding: 21px 19px;
      background-color: $black;
      color: $white;
      font-weight: bold;
      border-radius: 8px;
      @media (max-width: 1270px) {
        flex-grow: 2;
      }
      @media (max-width: 720px) {
        min-width: 100%;
      }
    }

    .hero-icon {
      width: 64px;
      height: 64px;
      border-radius: 8px;
      border: 1px solid $black;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 40px;

      @media (max-width: 720px) {
        width: 48px;
        height: 48px;
      }
    }
  }
}
