@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?c9vsjf');
  src:  url('fonts/icomoon.eot?c9vsjf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?c9vsjf') format('truetype'),
    url('fonts/icomoon.woff?c9vsjf') format('woff'),
    url('fonts/icomoon.svg?c9vsjf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Vector:before {
  content: "\e90b";
}
.icon-email:before {
  content: "\e900";
}
.icon-Apple .path1:before {
  content: "\e901";
  color: rgb(255, 255, 255);
}
.icon-Apple .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Google .path1:before {
  content: "\e903";
  color: rgb(255, 255, 255);
}
.icon-Google .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(66, 133, 244);
}
.icon-Google .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(52, 168, 83);
}
.icon-Google .path4:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(251, 188, 5);
}
.icon-Google .path5:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(234, 67, 53);
}
.icon-YouTube .path1:before {
  content: "\e908";
  color: rgb(255, 255, 255);
}
.icon-YouTube .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 0, 0);
}
.icon-phone:before {
  content: "\e90a";
}
.icon-react:before {
  content: "\e911";
}
.icon-typescript:before {
  content: "\e912";
}
.icon-js:before {
  content: "\e913";
}
.icon-css:before {
  content: "\e914";
}
.icon-html:before {
  content: "\e915";
}
.icon-nextjs:before {
  content: "\e916";
}
.icon-redux:before {
  content: "\e917";
}
.icon-tailwind:before {
  content: "\e918";
}
.icon-nodejs:before {
  content: "\e919";
}
.icon-webpack:before {
  content: "\e91a";
}
.icon-graphQL:before {
  content: "\e91b";
}
.icon-git:before {
  content: "\e91c";
}
.icon-github:before {
  content: "\e91d";
}
.icon-burger:before {
  content: "\e91e";
}
