h1 {
    font-size: 48px;
}

section {
    margin-top: 100px;
    margin-bottom: 100px;
}

section:nth-child(3) {
    background-color: black;
}

section:nth-child(5) {
    background-color: black;
}

.normal {
    font-weight: 400;
}

.hero {
    position: relative;
    display: flex;
    padding: 0 32px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
}

.header {
    font-size: 48px;
    text-align: center;
    margin-bottom: 32px;
}

.hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 48px;
    height: 100%;
}

.hero-links {
    display: flex;
    gap: 48px;
    .hero-icon {
        width: 64px;
        height: 64px;
    }
}

.hero-description {
    max-width: 701px;
    font-size: 24px;
    font-weight: 400;
    color: #00000099;
}

.hero-image {
    margin-left: auto;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.skill-card {
    display: flex;
    height: 180px;
    width: 186px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid #000;
    i {
        font-size: 48px;
    }
    p {
        font-size: 18px;
        font-weight: 800;
    }
}

.white {
    color: white;
    padding: 100px 0;
}

.experience-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px;
    border-radius: 8px;
    border: 1px solid #FFF;
    .header-wrapper {
        display: flex;
        gap: 24px;
        align-items: center;
    }
    .card-header {
        font-size: 30px
    }
    .card-description {
        font-size: 18px;
    }
    .experience-icon {
        display: inline;
        width: 32px;
        height: 32px;
    }
}

.about {
    display: flex;
    justify-content: space-between;
    gap: 123px;
}

.about-content {
    .header {
        text-align: left;
    }
    .about-description {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 16px;
        line-height: 26px;
        color: #00000099
    }
}

.projects-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.project {
    display: flex;
    gap: 124px;
    .project-image {
        height: 338px;
        border-radius: 20px;
        overflow: hidden;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .project-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        max-width: 495px;
        .number {
            font-size: 48px;
        }
        .project-title {
            font-size: 30px;
        }
        .project-description {
            color: #FFFFFF99
        }
    }
    .more-btn {
        display: block;
        padding: 16px 20px;
        border-radius: 8px;
        margin-right: auto;
    }
}

.project:nth-child(even) {
    .project-image {
       order: 1;
    }
}

.contacts {
    flex-shrink: 1;
    flex-grow: 2;
    max-width: 598px;
    h2 {
        font-size: 48px;
        line-height: 48px;
    }
    .description {
        margin: 32px 0;
        color: #00000099;
        line-height: 24px;
    }
}

.call-me {
    display: flex;
    justify-content: space-between;
    gap: 123px;
}

.email,
.phone {
    font-size: 18px;
    font-weight: 600;
}

.email {
    margin-bottom: 12px;
}